  body {
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,126,1) 2%, rgba(0,212,255,1) 100%);
  }
  .list-group-item {
    cursor: pointer;
  }
  .btn-sm{
    font-size: 20px;
    border-radius: 5px;
  }
.btn-sm:hover{  
    background-color: green;
}